In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Finding schools with the best math scores
math_sorted = schools.sort_values("average_math", ascending = False)
filtered_schools = math_sorted[math_sorted["average_math"]>=640]
best_math_schools = filtered_schools[["school_name","average_math"]]
# print(best_math_schools)

# Identifying the top 10 performing schools
total_sum = schools[["average_math","average_reading","average_writing"]].sum(axis=1)
schools["total_SAT"] = total_sum
sort_schools = schools.sort_values("total_SAT",ascending=False).head(10)
top_10_schools = sort_schools[["school_name", "total_SAT"]]
# print(top_10_schools)

# Locating the NYC borough with the largest standard deviation in SAT performance
agg_boroughs = schools.groupby("borough")["total_SAT"].agg(['count', 'mean', 'std']).round()
# print(agg_boroughs)
largest_std_dev = agg_boroughs[agg_boroughs["std"]== agg_boroughs["std"].max()]
largest_std_dev = largest_std_dev.rename(columns = {"count":"num_schools", "mean":"average_SAT", "std":"std_SAT"})
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89       1340.0    230.0

In [2]:
pd.set_option('display.max_columns', None)
print(schools)

                                           school_name    borough  \
0    New Explorations into Science, Technology and ...  Manhattan
1                                 Essex Street Academy  Manhattan
2                         Lower Manhattan Arts Academy  Manhattan
3      High School for Dual Language and Asian Studies  Manhattan
4        Henry Street School for International Studies  Manhattan
..                                                 ...        ...
370  Queens High School for Information, Research, ...     Queens
371  Rockaway Park High School for Environmental Su...     Queens
372                   Channel View School for Research     Queens
373                    Rockaway Collegiate High School     Queens
374                                  Scholars' Academy     Queens

    building_code  average_math  average_reading  average_writing  \
0            M022           657              601              601
1            M445           395              411              387
2            M445           418              428              415
3            M445           613              453              463
4            M056           410              406              381
..            ...           ...              ...              ...
370          Q465           372              362              352
371          Q410           357              381              376
372          Q410           427              430              423
373          Q410           399              403              405
374          Q180           588              560              568

     percent_tested  total_SAT
0               NaN       1859
1              78.9       1193
2              65.1       1261
3              95.9       1529
4              59.7       1197
..              ...        ...
370            44.6       1086
371            38.5       1114
372            76.6       1280
373            46.5       1207
374            99.2       1716

[375 rows x 8 columns]